{% extends 'base.html' %}

{% load static %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="container">
    <form method="get" class="form-group">
        <select name="offering" class="filter-selectbox">
            {% for offer in offerings %}
                <option
                    value="{{ offer.id }}"
                    {% if offer.id|floatformat:"0" == offering %} selected {% endif %}>
                    {{ offer.description }}</option>
            {% endfor %}
        </select>

        <select name="topic" class="filter-selectbox">
            {% for tpc in topics %}
                <option
                    value="{{ tpc }}"
                    {% if tpc == topic %} selected {% endif %}>
                    {{ tpc }}</option>
            {% endfor %}
        </select>

        <select name="group" class="filter-selectbox">
            {% for grp in groups %}
                <option
                    value="{{ grp }}"
                    {% if grp == group %} selected {% endif %}>
                    {{ grp }}</option>
            {% endfor %}
        </select>

        <select name="type" class="filter-selectbox">
            {% for tp in types %}
                <option
                    value="{{ tp }}"
                    {% if tp == type %} selected {% endif %}>
                    {{ tp }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-secondary btn-lg btn-block">Update list</button>
    </form>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Exercises Table</h5>
          {% render_table exercises_table %}
        </div>
    </div>

    <div class="card">
        <h3>Plots with points</h3>
        <div class="card-columns">
            {% for key, data in exercises_data.items %}
                <div class="card">
                    <div class="card-body">
                        <a href="/freire/exercise/{{data.id}}/"><h5 class="card-title">{{ key }}</h5></a>
                        <canvas id="{{ key }}"></canvas>
                    </div>
                </div>

                <script>
                    let key{{ forloop.counter }} = document.getElementById("{{ key }}").getContext("2d");

                    new Chart(key{{ forloop.counter }}, {
                    type: "bar",
                    data: {
                        labels: [ {{ data.points.keys|join:", " }} ],
                        datasets: [
                            {
                            label: "Points",
                            backgroundColor: "#79AEC8",
                            borderColor: "#417690",
                            data: [ {{ data.points.values|join:", " }} ]
                            }
                        ]
                    },
                    options: {
                        title: {
                            text: "Quantity of points",
                            display: true
                        }
                    }
                    });
                </script>
            {% endfor %}
        </div>
    </div>

    <div class="card">
        <h3 class="card-title">Plots per day</h3>
        <div class="card">
            <script>
                function getRandomColor(point) {
                    switch (point) {
                        case "1.0":
                            return 'green';
                        case "0.99": 
                            return 'blue';
                        case "0.66": 
                            return 'yellow';
                        case "0.33": 
                            return 'pink';                    
                        default:
                            return 'red';
                    }
                }
            </script>
        {% for key, data in exercises_data.items %}
            <div class="card w-75">
                <div class="card-body">
                    <a href="/freire/exercise/{{data.id}}/"><h5 class="card-title">{{ key }}</h5></a>
                    <canvas id="{{ key }}-days"></canvas>
                </div>
            </div>

            <script>
            let keyDays{{ forloop.counter }} = document.getElementById("{{ key }}-days").getContext("2d");

            key = new Chart(keyDays{{ forloop.counter }}, {
                type: "bar",
                data: {
                labels: {{ data.days|safe }},
                datasets: [
                    {% for key, values in data.dataset.items %}
                        {
                            label: "{{ key }}",
                            data: [ {{ values|join:", " }} ],
                            backgroundColor: getRandomColor("{{ key }}"),
                        },
                    {% endfor %}
                ]
                },
                options: {
                plugins: {
                title: {
                    display: true,
                    text: "Points per day"
                },
                },
                responsive: true,
                scales: {
                    xAxes:[{
                    stacked: true
                    }],
                    yAxes:[{
                    stacked: true
                    }],
                }
                }
            });
            </script>
        {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
