{% extends 'base.html' %}

{% load static %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Student info</h5>
      <p>Username: {{ student.username }}</p> 
      <p>Name: {{ student.first_name }} {{ student.last_name }} </p>
      <p>E-mail: {{ student.email }}</p>
      <p>Is staff: {{ student.is_staff }}</p>
      <p>Is active: {{ student.is_active }}</p>
      <p>Date joined: {{ student.date_joined }}</p>
      <p>Last login: {{ student.last_login }}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">User answer Summary Table</h5>
      {% render_table answerssummary_table %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Answers Table</h5>
      {% render_table answers_table %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Answers</h5>
      <canvas id="points-chart"></canvas>
    </div>
  </div>

  <script>
    let ctx = document.getElementById("points-chart").getContext("2d");

    let chart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: {{ submission_date|safe }},
        datasets: [
            {
              label: "Points",
              backgroundColor: "#79AEC8",
              borderColor: "#417690",
              data: {{ points|safe }}
            }
        ]
      },
      options: {
        title: {
            text: "Points per submission",
            display: true
        }
      }
    });
  </script>
</div>

{% endblock %}